{% extends 'base.html' %}

{% block title %}Pengumuman{% endblock %}

{% block header %} 

    <section class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Tambah Pengumuman</h1>
            </div>          
        </div>
        </div>
    </section>

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-12">
            <div class="card">
            <div class="card-header">
                <h3 class="card-title">Pengumuman</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <button type="button" class="btn btn-primary mb-4" data-toggle="modal" data-target="#exampleModal">
                    Tambah Data
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tambah Data</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('simpanP') }}" method="POST">                        
                                <div class="form-group">                                  
                                    <input type="hidden" class="form-control" name="id">      
                                </div>                       
                                <div class="form-group">      
                                    <label>Judul</label>      
                                    <input type="text"  class="form-control" name="judul">      
                                </div>      
                                <div class="form-group">      
                                    <label>Isi</label>      
                                    <textarea class="form-control" id="exampleFormControlTextarea1" name="isi" rows="3"></textarea>
                                </div>    
                                <div class="form-group">      
                                    <label>Lokasi</label>      
                                    <input id="lokasi" class="form-control" name="lokasi"></input>
                                </div>                                                                        
                                <div class="form-group">      
                                    <button class="btn btn-primary " type="submit">Simpan</button>      
                                </div>      
                            </form>
                        </div>                       
                    </div>
                    </div>
                </div>

                {% for d in data %}
                    <div class="modal fade update_data" id="modalEdit{{ d.0 }}" tabindex="-1" aria-labelledby="modalEdit{{ d.0 }}Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Tambah Data</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('updateP') }}" method="POST">  
                                        <div class="form-group">                                  
                                            <input type="hidden" id="id" value="" class="form-control" name="id">      
                                        </div>                       
                                        <div class="form-group">      
                                            <label>Judul</label>      
                                            <input id="judul" type="text" value=""  class="form-control" name="judul">      
                                        </div>      
                                        <div class="form-group">      
                                            <label>Isi</label>      
                                            <textarea id="isi" class="form-control" id="exampleFormControlTextarea1" name="isi" rows="3"></textarea>
                                        </div>                                        
                                        <div class="form-group">      
                                            <label>Lokasi</label>      
                                            <input id="lokasi" class="form-control" name="lokasi" rows="3"></input>
                                        </div>                                        
                                        <div class="form-group">      
                                            <button class="btn btn-primary " type="submit">Simpan</button>      
                                        </div>      
                                    </form>
                                </div>                       
                            </div>
                            </div>
                    </div>
                {% endfor %}
                
                
                <table class="table table-bordered">
                <thead>
                    <tr>
                    <th style="width: 10px">#</th>
                    <th>Judul</th>
                    <th>Isi</th>
                    <th>Lokasi</th>
                    <th>Aksi</th>                    
                    </tr>
                </thead>
                <tbody>                              
                    {% for d in data %}
                        <tr>                
                            <td></td>
                            <td>{{d.1}}</td>
                            <td>{{d.2}}</td>
                            <td>{{d.3}}</td>                            
                            <td>
                                <span href="/show/{{ d.0 }}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modalEdit{{ d.0 }}">Edit</span>      
                                <a href="pengumuman/hapus/{{ d.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('Yakin ingin hapus?')">Hapus</a>      
                            </td>
                        </tr>              
                    {% endfor %}    
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->             
            </div>           
        </div>         
        </div>
                            
        <!-- /.row -->
    </div>
{% endblock %}


{% block script %}
    <script>
        $(document).ready(function(){

                $(".btn-warning").click(function(){
                    console.log("hai")
                    var link = "{{ request.base_url }}"+$(this).attr("href")
                    console.log(link)
                    fetch(link)
                        .then(response => response.json())
                        .then(result => {
                            if(result.status){
                                console.log(result)
                                $('.update_data #id').val(result.data[0].id);                                
                                $('.update_data #judul').val(result.data[0].judul);                                
                                $('.update_data #isi').val(result.data[0].isi);                                                                
                                $('.update_data #lokasi').val(result.data[0].lokasi);                                                                
                            }
                        })
                })
            })
    </script>
{% endblock %}
